/* 레이아웃 */
#wrap{ height:auto; margin:0 auto;}
#title_area{position: relative;width: 100%;overflow: hidden;height: 360px; background: rgba(246, 243, 242, 0.7);}
#main_section{width:100%; padding-top:100px; padding-bottom:120px; background:#fff;}
#member_join{width:100%; padding-top:80px; padding-bottom:80px; background:#f6f3f2;}
#footer{height:450px; background:#1c1b1b; padding:60px 50px; box-sizing:border-box;}
/* 공통속성 */
h1{font-size:56px; font-weight:bold; text-align:center;}
h2{font-size:44px; font-weight:bold; text-align:center;}
h3{font-size:30px; font-weight:bold;}
/* header */
.header-wrap{width:1120px; margin:0 auto;}
.unit_wrap{width:100%; border-bottom:1px solid #e5e5e5;}
.unit{width:1120px; height:39px; box-sizing:border-box; margin:0 auto;}
.unit .unit_menu{width:100%; margin-left:200px;}
.unit .unit_menu ul{padding:13px 0 3px; float:right;}
.unit .unit_menu ul li{float:left; border-left: 1px solid #e5e5e5; position: relative; height:13px;}
.unit .unit_menu ul li.first{border:none}
.unit .unit_menu ul li:before{content: ""; display: inline-block; vertical-align: middle; height: 100%;}
.unit .unit_menu ul li a{font-size:10px; display:inline-block; padding:0 15px;}
.unit .unit_menu ul li a.world:after{margin-left: 8px; content: ""; display: inline-block; vertical-align: middle; width: 11px; height: 11px; margin: -1px 0 0 13px; background: url(../img/ico.png) no-repeat; background-position: 0 -19px; border: none; transform: rotate(0deg)}
.unit .unit_menu ul li a.language:after{content: ""; display: inline-block; vertical-align: middle; position: relative; top: -2px; margin-left: 5px; border-top: 5px solid #000; border-right: 3px solid transparent; border-left: 3px solid transparent;}
.unit .unit_menu ul li a.search:after{content: ""; display: inline-block; vertical-align: middle; width: 14px; height: 14px; margin-left: 7px; background: url(../img/ico.png) no-repeat; background-position: 0 0; opacity: .5;}
.menu{width:1120px; height:70px;}
.menu .nav{width:1120px; margin:0 auto;}
.menu .nav>.main_menu{width:1120px; padding:13px 0; overflow: hidden; box-sizing: border-box;}
.menu .nav>ul>li{float:left; padding:10px; display:block;}
.menu .nav>ul>li:first-child{margin-right:100px;}
.menu .nav>ul>li>a{display:block; padding:0 15px; font-size:16px;}
.menu .nav>ul>li>a img{width:148.98px; float:left;}

/* 메뉴 */
.menu .nav>ul>li>.sub_wrap{display: none; position: absolute; top: 110px; left: 0; right: 0; z-index: 10003;background-color: #fff; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}
.menu .nav>ul>li>.sub_wrap.on{display:block;}
.sub_wrap .sub_cont{position: relative; z-index: 4; max-width: 1120px; margin: 0 auto; box-sizing:border-box;}
.sub_wrap .sub_cont div .car_info{height: 439px; position: relative; z-index: 3; min-height: 437px; padding-top: 23px;}
.sub_wrap .sub_cont div .car_info .gnb_title{text-align: left; display: block; width: 160px; margin: 0 0 10px; color: #000; line-height: 1;}
.sub_wrap .sub_cont div .car_info h2 p{font-size: 16px; line-height: 30px; letter-spacing: -.4px; color: #000; font-weight: 400;}
.sub_wrap .sub_cont .closeBtn:before{content: ""; transform: rotate(45deg); position: absolute; top: 50%; left: 50%; width: 24px; height: 1px; margin: -.5px 0 0 -12px; background-color: #000;}
.sub_wrap .sub_cont .closeBtn{display:block; width:50px; height:50px; position: absolute; top: 17px; right: -34px; background: transparent; cursor: pointer;}
.sub_wrap .sub_cont .closeBtn:after{content: ""; transform: rotate(-45deg); position: absolute; top: 50%; left: 50%; width: 24px; height: 1px; margin: -.5px 0 0 -12px; background-color: #000;;}
.sub_wrap .sub_cont div .car_info ul.twoD{position: relative; width: 160px; float: left;}
.sub_wrap .sub_cont div .car_info ul.twoD>li{display:block; width:100px; text-align:left;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>a{letter-spacing: -.4px; font-size: 15px; line-height: 11px; padding:10px 0; display:block; box-sizing:border-box; position:relative;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>a:hover{color:#007fa8;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>a:after{content: ""; position: absolute; top: 50%; right: -8px; width: 6px; height: 6px; margin-top: -3px; border-top: 1px solid #000; border-right: 1px solid #000; -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.sub_wrap .sub_cont div .car_info ul.twoD>li>a.truck:after{content: ""; display: inline-block; vertical-align: middle; width: 11px; height: 11px; margin: -1px 0 0 13px; background: url(../img/ico.png) no-repeat; background-position: 0 -19px; border: none; -webkit-transform: rotate(0deg); transform: rotate(0deg); margin-top: -5.5px;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>a.GENESIS:after{content: ""; display: inline-block; vertical-align: middle; width: 11px; height: 11px; margin: -1px 0 0 13px; background: url(../img/ico.png) no-repeat; background-position: 0 -19px; border: none; -webkit-transform: rotate(0deg); transform: rotate(0deg); margin-top: -5.5px;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD{display:black; position: absolute; top: 35px; left: 200px; top: 0; right: 20px;  overflow:hidden; width:900px;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD>li{float: left; width: 210px; margin: 0;  box-sizing: border-box; text-align: center; padding: 6px 10px 16px; display: block;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD>li:hover{background:#f6f3f2;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD>li>div>a{display:block; cursor:pointer;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD>li>div>a>.car_img{display:inline-block; text-align:center; width:190px;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD>li>div>a>.car_img>img{display:block; width:190px; height:85px;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD>li>div>a>.sp_title{margin: 8px 0; font-size: 16px; line-height: 30px; letter-spacing: -.4px; line-height: 100%;color: #000; display:block;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD>li>div>a>.sp_info{margin-bottom: 12px; font-size: 14px; line-height: 28px; letter-spacing: -.4px; font-size: 15px; color: #666; height: 30px; display:block;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD>li>div>span.main_btn_wrap{display:block; margin:0 -0.5px; width:200px; opacity:0;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD>li>div:hover>span.main_btn_wrap{opacity:1;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD>li>div>span.main_btn_wrap>a{display:inline-block; color:#002c5e; font-size:14px; white-space:nowrap;}
.sub_wrap .sub_cont div .car_info ul.twoD>li>ul.threeD>li>div>span.main_btn_wrap>a.first:after{content:"   |   "}
.sub_wrap .sub_cont div .research_box{margin-top:20px; position:relative; z-index:3; height:auto; text-align:left; height: 120px;}
.sub_wrap .sub_cont div .research_box .gnb_title{display: inline-block; vertical-align: top; width: 200px; margin: 0; padding: 40px 0 0;text-align: left;}
.sub_wrap .sub_cont div .research_box .gnb_title p{font-size: 16px; line-height: 30px; letter-spacing: -.4px; color: #000; font-weight: 400;}
.sub_wrap .sub_cont div .research_box ul{display: inline-block; vertical-align: top; width: calc(100% - 200px); padding: 14px 0 0 35px; border-top:1px solid #e5e5e5; position: absolute; top: 35px; left: 200px; top: 0; right: 20px;  overflow:hidden; width:900px;}
.sub_wrap .sub_cont div .research_box ul li{float:left; width: 20%; min-width: 130px; height: 105px;}
.sub_wrap .sub_cont div .research_box ul li .rec1{background:url(../img/icon_searchfilter.webp) no-repeat; display: block; width: 100%; height: 100%;padding-top: 60px; background-repeat: no-repeat; background-position: center 27px; font-size: 15px; line-height: 1; letter-spacing: -.4px; text-align: center; box-sizing:border-box;}
.sub_wrap .sub_cont div .research_box ul li .rec2{background:url(../img/icon_mycarsearch.webp) no-repeat;display: block; width: 100%; height: 100%;padding-top: 60px; background-repeat: no-repeat; background-position: center 27px; font-size: 15px; line-height: 1; letter-spacing: -.4px; text-align: center; box-sizing:border-box;}
.sub_wrap .sub_cont div .research_box ul li .rec3{background:url(../img/icon_comperison.webp) no-repeat;display: block; width: 100%; height: 100%;padding-top: 60px; background-repeat: no-repeat; background-position: center 27px; font-size: 15px; line-height: 1; letter-spacing: -.4px; text-align: center; box-sizing:border-box;}
.sub_wrap .sub_cont div .research_box ul li .rec4{background:url(../img/icon_spac.webp) no-repeat;display: block; width: 100%; height: 100%;padding-top: 60px; background-repeat: no-repeat; background-position: center 27px; font-size: 15px; line-height: 1; letter-spacing: -.4px; text-align: center; box-sizing:border-box;}
.sub_wrap .sub_cont div .buy_box{position:relative; z-index:3; height:auto; text-align:left; height: 170px; width: 200px}
.sub_wrap .sub_cont div .buy_box .gnb_title{display: inline-block; vertical-align: top; width: 200px; margin: 0; padding: 40px 0 0; text-align: left;}
.sub_wrap .sub_cont div .buy_box .gnb_title p{font-size: 16px; line-height: 30px; letter-spacing: -.4px; color: #000; font-weight: 400;}
.sub_wrap .sub_cont div .buy_box ul{padding-bottom: 55px; display: inline-block; vertical-align: top; width: calc(100% - 200px); padding: 14px 0 55px 35px; position: absolute; top: 35px; left: 200px; top: 0; right: 20px;  overflow:hidden; width:900px;}
.sub_wrap .sub_cont div .buy_box ul li{float: left; width: 20%; min-width: 130px; height: 105px; margin-bottom:20px;}
.sub_wrap .sub_cont div .buy_box ul li p{padding:0 6px;}
.sub_wrap .sub_cont div .buy_box ul li p a{display: block; width: 154px; height: 100%;background-color:#f5f5f5; padding-bottom: 23px }
.sub_wrap .sub_cont div .buy_box ul li p a.buy1{background:url(../img/icon_mycar_gnb.webp);width: 100%; height: 100%; padding-top: 60px; background-repeat: no-repeat; background-position: center 27px; background-color:#f5f5f5; font-size: 15px; line-height: 1; letter-spacing: -.4px; text-align: center; display:block; box-sizing:border-box;}
.sub_wrap .sub_cont div .buy_box ul li p a.buy2{background:url(../img/icon_purchase_gnb.webp);width: 100%; height: 100%; padding-top: 60px; background-repeat: no-repeat; background-position: center 27px; background-color:#f5f5f5; font-size: 15px; line-height: 1; letter-spacing: -.4px; text-align: center; display:block; box-sizing:border-box;}
.sub_wrap .sub_cont div .buy_box ul li p a.buy3{background:url(../img/icon_calc_gnb.webp);width: 100%; height: 100%; padding-top: 60px; background-repeat: no-repeat; background-position: center 27px;background-color:#f5f5f5; font-size: 15px; line-height: 1; letter-spacing: -.4px; text-align: center; display:block; }
.sub_wrap .sub_cont div .buy_box ul li p a.buy4{background:url(../img/icon_gift_gnb.webp);width: 100%; height: 100%; padding-top: 60px; background-repeat: no-repeat; background-position: center 27px;background-color:#f5f5f5; font-size: 15px; line-height: 1; letter-spacing: -.4px; text-align: center; display:block;}
.sub_wrap .sub_cont div .buy_box ul li p a.buy5{background:url(../img/icon_drive_gnb.webp);width: 100%; height: 100%; padding-top: 60px; background-repeat: no-repeat; background-position: center 27px;background-color:#f5f5f5; font-size: 15px; line-height: 1; letter-spacing: -.4px; text-align: center; display:block;}
.sub_wrap .sub_cont .depth2{padding-left: 40px; padding-bottom: 25px; box-sizing: border-box;}
.sub_wrap .sub_cont .depth2>li{float: left; width:20%;}
.sub_wrap .sub_cont .depth2>li>a{display:block; font-weight: bold;padding: 32px 0 17px; margin: 0; font-size: 16px; line-height: 30px; letter-spacing: -.4px; width:160px; text-align: left;}
.sub_wrap .sub_cont .depth2>li>ul>li>a{display: inline-block; padding: 8px 0;  cursor: pointer; font-size: 14px; letter-spacing: -.4px; color: #444; line-height: 1;}
/* title_area */
.top_menu{display: block; width: calc(100% - 120px); max-width: 1120px; margin: 0 auto;}
.top_menu ul{display:flex; width:100%;}
.top_menu ul li{padding:0 14px; line-height:90px; justify-content:flex-start; align-items:center;-webkit-box-align: center; position:relative; -webkit-box-pack: start; display:flex;}
.top_menu ul li:after{content: ""; position: absolute; top: 45px; right: 0; width: 5px; height: 5px; margin-top: -3px; border-top: 1px solid #000; border-right: 1px solid #000; -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.top_menu ul li.last:after{content:none;}
.top_menu ul li a:before{content: ''; display: inline-block; width: 0; height: 100%; margin-top: 2px; vertical-align: middle;}
.top_menu ul li a{align-items: center; height: 90px; font-size: 14px; letter-spacing: -.4px; color: #000; line-height: 24px}
.top_menu ul li.last a{color:#007fa8; font-weight:500;}
.picture{-webkit-text-size-adjust: 100%; text-align:center;}
.picture .bg{position: absolute;top: 0;left: 50%;max-width: inherit;margin-left: -960px;}
.title{position: absolute;top: 90px;bottom: 0;right: 15px;left: 15px;width: auto; right: 30px !important;left: 30px !important; background: rgba(246, 243, 242, 0.7);}
.blue_tit{display:table; width:100%; height:100%;}
.blue_tit div{padding:2% 5%; vertical-align: middle; display: table-cell; box-sizing:border-box;}
.blue_title{margin:37.52px 0; padding-bottom:18px;}
.title p{text-align:center; font-size:14px;}

/*main_section */
.section{margin:0 auto; width:1120px;}
.blue_mbs{box-sizing:border-box;}
.blue_mbs .intro_logo{text-align:center;}
.blue_mbs .intro_text{margin-top:40px; display:block;text-align: center; line-height: 1.75em; color:#626262; font-size:16px/1 'TextRegular';}
.blue_mbs .mbs_list{margin-top:80px; text-align:center;}

/* member_join */
.bluemembers_invite{position: relative; padding: 50px 60px; border: 1px solid #e4dcd3; background: #fff; box-sizing: border-box;}
.img_title_box{padding-left: 270px;}
.img_box{position: absolute; left: 60px; top: 50%; width: 200px; margin-top: -100px; text-align: left;}
.row_title{color: #000; font-weight: bold; letter-spacing: -1px; word-break: keep-all; font-size:20px;}
.row_title em{color:#006992;}
.list_btn_wrap{margin-top:15px;}
.list_btn_wrap .list_box{margin-top:15px;}
.list_btn_wrap .list_box li:before{content: '· '; position: absolute; top: 0; left: 0;}
.list_btn_wrap .list_box li{position: relative;padding-left: 10px; text-align: left; color:#000;}
.list_btn_wrap .btn{margin-top: 25px; text-align: left;}
.list_btn_wrap .btn a:before{content: ''; display: inline-block; width: 0; height: 100%; margin-top: 1px; vertical-align: middle;}
.list_btn_wrap .btn a{color:#fff; display:block; background:#002c5e; min-width: 120px; height: 40px; font-size: 14px; display: inline-block; padding: 0 1em; text-align: center;  white-space: nowrap;}
.list_btn_wrap .btn a i{background:url(../img/ico_pc_20.png) no-repeat; width: 7px; background-position: -60px -160px; height: 16px; font-size: 14px; text-align: center; display:inline-block; vertical-align: middle;}


/* footer */
.footer_cont{width:1120px; margin:0 auto;}
.footer_cont .footer-top{width:1120px; height:auto; overflow:hidden;}
.footer_cont .footer-top .footer_logo{float:left; display:block;}
.footer_cont .footer-top .footer_menu{float:left; margin-left:80px; box-sizing:border-box; display:block;}
.footer_cont .footer-top .footer_menu ul{padding-bottom:20px;}
.footer_cont .footer-top .footer_menu ul:after{content:"";display:block; clear:both;}
.footer_cont .footer-top .footer_menu ul li{float:left;}
.footer_cont .footer-top .footer_menu ul li:after{content:"";display:block; clear:both;}
.footer_cont .footer-top .footer_menu ul li a{color:#999;}
.footer_cont .footer-top .footer_menu ul li a:before{content: ""; width: 1px; height: 10px; margin: 0 13px; display: inline-block;background-color: #444;}
.footer_cont .footer-top .footer_menu p{color:#999;}
.footer_cont .footer-top .footer_menu .service{margin-bottom:10px;}
.footer_cont .footer-top .footer_site{float:right;}
.footer_cont .footer-top .footer_site .social li{display:inline-block;}
.footer_cont .footer-top .footer_site .social li a{color:#999; font-size:13px;}
.footer_cont .footer-bottom{margin-top:40px; padding-top:22px; border-top:1px solid #2a2a2a; box-sizing:border-box; width:1120px}
.footer_cont .footer-bottom:after{content:"";display:block; clear:both;}
.footer_cont .footer-bottom ul{font-size:12px; box-sizing:border-box; }
.footer_cont .footer-bottom ul:after{content:"";display:block; clear:both;}
.footer_cont .footer-bottom ul li{float:left; width:20%; margin-top:18px;}
.footer_cont .footer-bottom ul li:after{content:"";display:inline-block; clear:both;}
.footer_cont .footer-bottom ul li img{float:left;}
.footer_cont .footer-bottom ul li span{color:#999; font-size:12px; display:block; margin-left:45px; margin-right:10px;}